.Game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: calc((5 * 191px) + (4 * 10px));
    margin: auto;
    padding: 6px 0;
    text-align: left;
    button {
        color: #e9e9e9;
        background-color: transparent;
        padding: 10px;
        font-family: fantasy;
        font-size: 16px;
        border: 2px solid transparent;
        transition: border .2s;
        margin-left: 20px;
        &:hover {
            border: 2px solid #e9e9e9;
        }
    }
    .link {
        color: #e9e9e9;
        background-color: transparent;
        padding: 10px;
        font-family: fantasy;
        font-size: 16px;
        text-decoration: none;
    }
}

.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 120px);
    grid-gap: 10px;
    margin: auto;
    max-width: calc((5 * 191px) + (4 * 10px));
}