.key {
    margin: 10px;
    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            color: #4a0c35;
            font-size: 24px;
            font-weight: 400;
            margin: 10px;
        }
    }
    &__outer {
        padding: 24px;
        border-radius: 12px;
        background-color: #967251;
        box-shadow: 0px 0px 4px 3px #865231;
    }
    &__inner {
        position: relative;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 40px);
        border: 8px solid #000;
        border-radius: 12px;
        color: #333;
        .key-element {
            width: 40px;
            position: relative;
            border: 1px solid #000;
            &.blue, &.red {
                &::after {
                    content: '';
                    position: absolute;
                    width: 14px;
                    height: 14px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                    box-shadow: 1px 1px 12px #fff;
                }
            }
            &.blue {
                background-color: #11609c;
                &::after {
                    border-radius: 50%;
                }
            }
            &.red {
                background-color: #aa2011;
            }
            &.neutral {
                background-color: #deb887;
            }
            &.executor {
                background-color: #222;
                &::after {
                    content: 'X';
                    position: absolute;
                    width: 100%;
                    top: 4px;
                    left: 0;
                    font: bold 22px cursive;
                    text-shadow: 1px 1px 12px #eee;
                }
            }
        }
        .indicator {
            position: absolute;
            border-radius: 2px;
            &.blue {
                box-shadow: 0px 0px 8px 2px #11609c;
                background: #11609c;
                border: 3px solid #11507a;
            }
            &.red {
                box-shadow: 0px 0px 8px 2px #aa2011;
                background: #aa2011;
                border: 3px solid #882011;
            }
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #fff;
                box-shadow: 0px 0px 4px 3px rgba(255, 255, 255, 0.5);
            }
            &.top, &.bottom {
                width: 40px;
                height: 6px;
                left: 50%;
                transform: translateX(-50%);
                &::after {
                    width: 6px;
                    height: 0px;
                }
            }
            &.top {
                top: -22px;
            }
            &.bottom {
                bottom: -22px;
            }
            &.left, &.right {
                width: 6px;
                height: 40px;
                top: 50%;
                transform: translateY(-50%);
                &::after {
                    width: 0px;
                    height: 6px;
                }
            }
            &.left {
                left: -22px;
            }
            &.right {
                right: -22px;
            }
        }
    }
    &-form {
        display: flex;
        justify-content: center;
        position: relative;
        button, input {
            border: 0;
            margin: 4px;
            cursor: pointer;
            color: #fff;
            text-decoration: none;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            padding: 0 30px;
            line-height: 30px;
            display: inline-block;
            position: relative;
            border-radius: 10px;
            outline: none;
            // background: linear-gradient(#335b71 45%, #03324c 55%);
            background: linear-gradient(#711146  45%, #511140 55%);
            box-shadow: 0 2px 2px #711146;
            transition: color 0.5s, background 0.5s;
        }
        button {
            &:hover {
                background: linear-gradient(#4a0c35 49%, #2c042a  51%);
            }
        }
        input {
            width: 148px;
            padding-left: 10px;
            font-size: 9px;
            background: linear-gradient(#b1ccda 49%, #96b4c5 51%);
            color: #03324c;
            cursor: initial;
        }
        .go { 
            width: 48px;
            border-radius: 0 20px 20px 0;
            padding: 0;
            margin-left: -48px;
            margin-right: 20px;
        }
    }
}